@keyframes enterOverlay {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes leaveOverlay {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes enterModal {
    0% {
      transform: scale(0.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes leaveModal {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.2);
    }
  }
  