.navbar {
  background-color: rgb(189, 189, 189);
  border-radius: 10px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}

.searchbar {
  width: 400px;
  height: 30px;
  border-width: 2px;
  border-color: rgb(196, 196, 196);
  border-radius: 5px;
}

.searchBtn {
  height: 30px;
  border-radius: 5px;
  margin-left: 5px;
  background-color: darkgray;
  color: white;
  font-size: small;
  font-weight: 500;
}

.icons {
  height: 35px;
}

.icons-container {
  display: flex;
}

.icon-wrapper {
  position: relative;
  margin-right: 10px;
}

.icon-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-wrapper:hover .icon-tooltip {
  visibility: visible;
  opacity: 1;
}
