.modalBody {
    width: 800px;
    height: 800px;
  }

  .image {
    max-height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: contain;
  }

  @keyframes enterOverlay {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes leaveOverlay {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes enterModal {
    0% {
      transform: scale(0.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes leaveModal {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.2);
    }
  }